<div class="container">
    <h1>Quotes List</h1>
    <div class="row">

        <div class="col-md-6">
            <ol>
                <li *ngFor='let quote of quotes'>
                    <h2>Quote title: {{quote.type}}</h2>
                    <p>Quote Content: {{quote.content}}</p>
                    <p>Quote Author: {{quote.author}}</p>
                    <div id="upvotes">
                        <button (click)='thumbsUp(quote)'>Like</button>&nbsp;
                        <p>Likes: {{quote.upvote}}</p>
                    </div>
                    <div id="downvotes">
                        <button (click)='thumbsDown(quote)'>Dislike</button>&nbsp;
                        <p>Dislike: {{quote.downvote}}</p>
                    </div>

                </li>
            </ol>

        </div>

        <div class="col-md-6">
            Here it goes

        </div>
    </div>

</div>