/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
#header{
    background-color: #1A0D07;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
}
#footer{
    background-color: #1A0D07;
    color: white;
    text-align: center;
    bottom:0;
    position: fixed;
    width: 100%;
}

body{
    background-image: url(https://i.pinimg.com/236x/9b/d9/fa/9bd9faf5cfc65904597366ec6b7134d6.jpg);
    background-size: cover;
    background-attachment: fixed;
}
